body{
    text-align: left;
    font-family: 'Architects Daughter', cursive;
    max-width: 700px;
    margin-left: 500px;
    background-color: lightpink;
}

p{
    line-height: 40px;
}
.ngieng{
    font-style: italic;
    line-height: 20px;
}

.doanvan1{
    line-height: 25px;
}
.doancuoi{
    text-align: center;
}